.box{
 height: 100%;
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
}

.input-bar{
    width: 70vh;
    height: 4vh;
    border-radius: 30px;
    padding: 10px 20px;
}

.contribute-button-box{
    margin: 20px 20px 0px auto;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #40c463;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.contribute-button-content{
    margin: 0px;
    padding-left: 3px;
    padding-right: 3px;
}

.copyright-button-box{
    margin: 0px 20px 20px auto;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;    
    color: rgba(174, 170, 170, 0.63);
}

.blog-app-heading{
    font-size: 5vh;
    color: aqua;
}

.blog-app-box{
    text-align: center;
   margin: 0px; 
}

.plus-icon{
    size: 10px;
}